@model BibliotecaMetropolis.Models.Recurso

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Recurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRec" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnoPublic" class="control-label"></label>
                <input asp-for="AnnoPublic" class="form-control" />
                <span asp-validation-for="AnnoPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edicion" class="control-label"></label>
                <input asp-for="Edicion" class="form-control" />
                <span asp-validation-for="Edicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalabrasBusqueda" class="control-label"></label>
                <input asp-for="PalabrasBusqueda" class="form-control" />
                <span asp-validation-for="PalabrasBusqueda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRecurso" class="control-label"></label>
                <input asp-for="TipoRecurso" class="form-control" />
                <span asp-validation-for="TipoRecurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitucionEducativa" class="control-label"></label>
                <input asp-for="InstitucionEducativa" class="form-control" />
                <span asp-validation-for="InstitucionEducativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEdit" class="control-label">Editorial</label>
                <select asp-for="IdEdit" class="form-control" asp-items="ViewBag.IdEdit"></select>
                <span asp-validation-for="IdEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPais" class="control-label">País</label>
                <select asp-for="IdPais" class="form-control" asp-items="ViewBag.IdPais"></select>
                <span asp-validation-for="IdPais" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}